/* Arc 2.0 CSS Files */



@import "Chrome CSS/arcfont.css";
@import "Chrome CSS/iconchanger.css";
@import "Chrome CSS/bettercolouredessentials.css";
@import "Chrome CSS/moreroundedtabs.css";
@import "Chrome CSS/bettercustomizetoolbar.css";
@import "Chrome CSS/animations.css";
@import "Chrome CSS/extensions.css";
@import "Chrome CSS/urlbar/url.css";
@import "Chrome CSS/miscellaneous.css";
@import "Chrome CSS/removescrollbar.css";
@import "Chrome CSS/pip.css";
/* @import "Chrome CSS/browserborders.css"; */
@import "Chrome CSS/~workspace.css";