/*Credit: JustAdumbPrson*/

@-moz-document url-prefix("chrome:") {
  /* ------------------------ Glance Animation ----------------------- */
  .browserSidebarContainer.zen-glance-background.deck-selected {
    filter: blur(5px) brightness(50%);
    transition: filter 0.1s ease-in-out;
  }
  
  /* ---------------------- Tab Loading Animation ---------------------- */
  .browserSidebarContainer:not([zen-split="true"]) {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
                filter 0.18s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
  }
  
  #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]) {
    filter: blur(10px) brightness(60%) !important;
    transform: scale(0.975) !important;
    transition-delay: 0.5s !important;
    border-radius: 8px !important;

  }
  
  @media (-moz-pref("arc-tab-loading-animation", 2)) {
    .browserSidebarContainer:not([zen-split="true"]) {
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
                  filter 0.3s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
    }
    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]) {
      filter: blur(20px) brightness(60%) !important;
      transform: scale(0.95) !important;
      transition-delay: 0.5s !important;
    }
  }
  
  @media (-moz-pref("arc-tab-loading-animation", 3)) {
    .browserSidebarContainer:not([zen-split="true"]) {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.935) !important,
                  filter 0.2s cubic-bezier(0.2, 0.8, 0.4, 1.5) !important;
    }
    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]) {
      filter: blur(10px) brightness(60%) !important;
      transform: scale(0.977) !important;
      transition-delay: 0.5s !important;
    }
  }
  
  @media (-moz-pref("arc-tab-loading-animation", 4)) {
    .browserSidebarContainer:not([zen-split="true"]) {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
                  filter all 0.2s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
    }
    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]) {
      filter: saturate(0%) brightness(60%) !important;
      transform: scale(0.975) !important;
      transition-delay: 0.5s !important;
    }
  }
  
  @media (-moz-pref("arc-tab-loading-animation", 5)) {
    .browserSidebarContainer:not([zen-split="true"]) {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
                  filter all 0.2s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
    }
    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]) {
      filter: saturate(0%) brightness(60%) blur(6px) !important;
      transform: scale(0.99) !important;
      transition-delay: 0.5s !important;
    }
  }
  
  @media (-moz-pref("arc-tab-loading-animation", 0)) {
    .browserSidebarContainer:not([zen-split="true"]) {
      transition: none !important;
    }
    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer:not([zen-split="true"]),
    #main-window:has(.tabbrowser-tab[selected]:not([busy])) .browserSidebarContainer:not([zen-split="true"]) 
  {
    filter: none !important;

    transform: none !important;

    transition-delay: 0s !important;
    }
  }
  
  /* --------------------- Tab Switch Animation --------------------- */
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    &:is([zen-split]) {
      transition: all 0.17s cubic-bezier(0.175, 0.685, 0.52, 1.05), filter 0.1s ease-out !important;
    }
    &:not(.zen-glance-background):not([zen-split="true"]) {
      transition: all 0.17s cubic-bezier(0.175, 0.685, 0.52, 1), filter 0.1s ease-out !important;
      scale: 0.975 !important;
      opacity: 1;
      filter: blur(5px) !important;
    }
  }
  
  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    &:not(.zen-glance-background) {
      scale: 1 !important;
      opacity: 1 !important;
      filter: none !important;
    }
  }

  @media (-moz-pref("arc-tab-switch-animation", 2)) {
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1), filter 0.2s ease-out !important;
    scale: 0.95 !important;
    opacity: 1;
    filter: blur(10px) !important;
  }

  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    scale: 1 !important;
    opacity: 1 !important;
    filter: none !important;
  }
}

@media (-moz-pref("arc-tab-switch-animation", 3)) {
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    transition: all 0.24s cubic-bezier(0.3, 0.6, 0.3, 1.2) !important;
    scale: 0.98 !important;
    transform: translateY(10px);
    opacity: 1;
  }

  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    scale: 1 !important;
    transform: none;
    opacity: 1 !important;
    filter: none !important;
  }
}


@media (-moz-pref("arc-tab-switch-animation", 4)) {
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    transition: all 0.2s ease;
    opacity: 0 !important;
    scale: 0.975 !important;
    position: absolute !important;
    inset: 0;
  }

  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    opacity: 1 !important;
    pointer-events: auto !important;
    position: relative !important;
    z-index: 1;
  }
}


@media (-moz-pref("arc-tab-switch-animation", 5)) {
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split]) {
    transform: scale(1.05);
    filter: blur(15px);
    opacity: 1;
    transition: transform 0.2s ease, filter 0.2s ease, opacity 0.2s;
    will-change: transform, filter, opacity;
  }

  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split]) {
    transform: scale(1);
    opacity: 1 !important;
    filter: none !important;
  }
}

@media (-moz-pref("arc-tab-switch-animation", 0)) {
  #tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    transition: none !important;
    scale: 1 !important;
    opacity: 1 !important;
    filter: none !important;
  }

  #tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    scale: 1 !important;
    opacity: 1 !important;
    filter: none !important;
  }
}
/* ----------------- Other animations ------------------ */
/* ------------------ Custom Split View Animation ------------------- */

@keyframes scaleAndBrighten {
  
  0% {
    transform: scale(0.95);
    opacity: 0;
    filter: brightness(0);
  }

  50% {
    filter: brightness(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }
}

#tabbrowser-tabpanels[zen-split-view="true"] {
  transition: none !important;
}

#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer {

  animation: scaleAndBrighten 0.6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
  


  /* website view animations [works for split tabs] */
  #browser:not(:has(.zen-glance-background)) #tabbrowser-tabpanels {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
  }
  
  /* trackpad gestures*/
  tabpanels .browserStack browser {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
  
  }
  
  
  /* Previous animation*/
  .browserStack:has(
      #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
    )
    browser {
    scale: 0.95 !important;
    transform: translateX(3%) !important;
  }
  
  /* Next animation*/
  .browserStack:has(
      #historySwipeAnimationNextArrow:not([style="translate: none;"])
    )
    browser {
    scale: 0.95 !important;
    transform: translateX(-3%) !important;
  
  }
  
  /* smoothen trackpad gestures */
  .browserStack browser[style*="transform: none"] {
  
  }
  
  /* ctrl tab visuals and animations */
  #ctrlTab-panel {
    --panel-background: rgba(0,0,0,0.9) !important;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.2s !important;
    border-radius: 13px;
    scale: 0.7;
  }
  
  #ctrlTab-panel:has(.ctrlTab-preview:not([hidden="true"])) {
    scale: 0.7 !important;
    border-radius: 13px;
  }
  
  slot:nth-child(1) {
  
    padding: 0 !important;
  }
  
  .ctrlTab-preview-inner {
    /* 	padding: 0 !important; */
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
  
    .ctrlTab-canvas {
      border-radius: 1em !important;
      overflow: hidden;
  
      img {
        background-color: #000000 !important;
      }
    }
  
    .ctrlTab-favicon-container {
      justify-content: center !important;
      transition: all 0.5s ease-in-out;
  
      image {
        border-radius: 50% !important;
        transition: all 0.5s ease-in-out !important;
        /* 			scale: 1.25 !important; */
      }
    }
  
    .ctrlTab-label {
      margin-top: 1.5em !important;
    }
  }
  
  .ctrlTab-preview:focus > .ctrlTab-preview-inner {
    outline: none !important;
    /* border: none !important;   */
    background-color: var(--sidebar-background-color) !important;
    border-radius: 1.5em !important;
    scale: 1.03 !important;
  
    .ctrlTab-favicon-container {
      image {
        padding: 2px !important;
      }
    }
  }

/*Window Control styling*/
@media not (-moz-bool-pref: "arc-style-window-buttons-disabled") {
    @media not (-moz-bool-pref: "zen.view.experimental-no-window-controls") {
        .titlebar-button {
            min-height: 13px !important;
            min-width: 13px !important;
            padding: 0px !important;
            height: 13px !important;
            width: 13px !important;

            align-self: center;

            border-radius: 50px;
            margin: 0px 3px !important;
            background-color: rgba(200, 200, 200, 0.3) !important;
            transition: all 200ms ease-in-out;
        }

        .titlebar-button>image {
            visibility: hidden !important;
        }

        .titlebar-buttonbox {
            align-content: center !important;
            justify-content: center !important;
            margin-right: 6px !important;
            margin-left: 3px !important;
        }

        .titlebar-buttonbox-container {
            align-self: center !important;
            justify-self: center !important;
            justify-content: center !important;
            align-content: center !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }

        .titlebar-button:hover {
            min-height: 20px !important;

            &.titlebar-min:hover {
                background-color: color-mix(in srgb, var(--zen-primary-color) 90%, white) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 90%, white) !important;
            }

            &.titlebar-restore:hover {
                background-color: color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
            }

            &.titlebar-max:hover {
                background-color: color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
            }

            &.titlebar-close:hover {
                background-color: color-mix(in srgb, var(--zen-primary-color) 20%, rgb(255, 90, 100)) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 20%, rgb(255, 90, 100)) !important;
            }
        }

        @media (-moz-pref("neo-style-window-buttons-colorful-enabled")) {
            .titlebar-min {
                background-color: color-mix(in srgb, var(--zen-primary-color) 90%, white) !important;
                box-shadow: 0 0px 4px color-mix(in srgb, var(--zen-primary-color) 90%, white) !important;
            }

            .titlebar-restore {
                background-color: color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
                box-shadow: 0 0px 4px color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
            }

            .titlebar-max {
                background-color: color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
                box-shadow: 0 0px 4px color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
            }

            .titlebar-close {
                background-color: color-mix(in srgb, var(--zen-primary-color) 20%, rgb(255, 90, 100)) !important;
                box-shadow: 0 0px 4px color-mix(in srgb, var(--zen-primary-color) 20%, rgb(255, 90, 100)) !important;
            }
        }
    }
}


@media not (-moz-bool-pref: "arc-style-window-buttons-disabled") {
  @media not (-moz-bool-pref: "zen.view.experimental-no-window-controls") {
    @media (-moz-bool-pref: "zen.view.experimental-force-window-controls-left") {
      .titlebar-buttonbox-container {
        order: 0 !important;
      }
    }

    @media -moz-pref("zen.tabs.vertical") {
      :root:not([zen-single-toolbar="true"]):not([zen-right-side="true"])[zen-window-buttons-reversed="true"]:not([zen-sidebar-expanded="true"]):not([zen-compact-mode="true"]) {
        .titlebar-buttonbox {
          left: auto !important;
          right: 18px !important;
        }
      }
    }
  }
}
